body
  overflow: hidden

.search_bar
  font-size: 40pt
  position: absolute
  border-bottom: 1px solid white
  z-index: 100
  display: block
  color: white
  &:empty:empty:before
    content: 'nm1297015'
    color: rgb(100, 120, 150)
  &:focus
    outline: none !important
    border: none
